<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    </style>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
    <br/>
    <br/>
    <br/>
    <div class="container">
                <form class="box" method="post">
                    {% csrf_token %}
                    <h1>Student Login</h1>
                    <br/>
                    {% render_field form.username class="form-control" placeholder="Username" %}
                    <br/>
                    {% render_field form.password class="form-control" placeholder="Password" %}
                    <br/>

                     <input type="submit" name="" value="Login">

                </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
{% include "quiz/footer.html" %}
  </body>
</html>
