{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<h2 style="text-align:center; color:blue;">GENERATE EXAM</h2>
<h4 style="text-align:center;">Course: {{course.course_name}}</h4>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
      <label for="course_name">Exam Code</label>
      {% render_field exam_form.exam_code class="form-control" placeholder="CODE123" %}

      <label for="question_number">Duration Minutes</label>
      {% render_field exam_form.duration_minutes class="form-control" placeholder="60" %}

      <label for="question_number">Start Time</label>
      {% render_field exam_form.start class="form-control" placeholder="2025-01-15 11:45" %}

      <label for="total_marks">Number of Question (Max: {{ questions|length }} ques)</label>
      {% render_field exam_form.number_of_ques class="form-control" placeholder="60" %}
    </div>

    <button type="submit" class="btn btn-primary">GENERATE</button>

<br/>
<br/>
<h4>Number of Exams: {{ exams|length }}</h4>
{% for e in exams %}
    - id: {{e.id}}, code: {{e.exam_code}}, ques: {{e.ques}}
    <br/>
{% endfor %}
  </form>
<br><br><br>
{% endblock content %}
