<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<br/>
<br/>
<br/>
<br/>
<section id="section-jumbotron" class="jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Group 5</h1>
    <p class="display-4 d-none d-sm-block">Project: Quiz System Management</p>
    <br/>
    <a class="btn btn-primary btn-lg" href="/init" role="button">Initialize</a>
    <br/>
    <br/>
    <a class="btn btn-primary btn-lg" href="/student/studentsignup" role="button">Register as Student</a>
    <br/>
    <br/>
    <a class="btn btn-primary btn-lg" href="/student/studentlogin" role="button">Login as Student</a>
    <br/>
    <br/>
    <a class="btn btn-primary btn-lg" href="/teacher/teacherlogin" role="button">Login as Instructor</a>

    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
