<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<br/>
<br/>
<br/>
<br/>
<section id="section-jumbotron" class="jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <p class="display-4 d-none d-sm-block">You're logged out!</p>
    <a href="/">Home</a>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
